$def with (data)
<html>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.poptrox.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/init.js"></script>
<section id="banner">
<div>
<table width=500 border="0" align="center" cellpadding="5" cellspacing="1" bgcolor="#cccccc">
    $for item in data:
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<tr bgcolor="#eeeeee"> 
        <td><p>留言时间: $item.time</p></td> </tr> 
        <tr bgcolor="#eeeeee">  
        <td><p>$item.user : $item.data</p></td> </tr>  
</table>
</div>
</html>