<!DOCTYPE HTML>
<!--@浮夸浮夸吧
 Lunya@163.com
 @小烨工作室
 vhghhd0222@126.com
-->
<html>
	<head>
		<title>于大纬&李雪卉的婚宴邀约</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.scrolly.min.js"></script>
		<script src="/static/js/jquery.poptrox.min.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/init.js"></script>

    <script type="text/javascript">
function showHint()
{
    var xmlhttp;
    if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
 
  }

xmlhttp.open("GET","/saveip.php",true);
xmlhttp.send();
}
        </script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
            <link href="css/zzsc.css" type="text/css" rel="stylesheet" />
           
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<!-- <body onload="showHint()"> -->
	<body>
	<audio src="/static/merryyou.mp3" autoplay="autoplay" controls="controls"></audio>
		<div align="center">
		</div>

		<!-- Header -->
			<section id="header">
				<header>
					<h1>于大纬&李雪卉的婚宴邀约</h1>
                                  
					<p>10月3号 济南市冯氏小海鲜酒店</p>
				</header>
                          
				<footer>
					<a href="#banner" class="button style2 scrolly scrolly-centered">约定</a>
				</footer>
			</section>
		
		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>喜帖</h2>
				</header>
				<p>于大纬，李雪卉敬邀各位亲朋好友</p>
                                <p>2014年10月3日</p>
                                <p>济南市冯氏小海鲜酒店</p>
                                <p>一起见证与分享我们爱的庆典</p>
				<footer>
					<a href="#first" class="button style2 scrolly">瞬间</a>
				</footer>
			</section>
		
		<!-- Feature 1 -->
			<article id="first" class="container box style1 right">
				<a class="image fit"><img src="/static/images/eight_1.JPG" alt="" /></a>
				<div class="inner">
					<header>
						<h1>天下无双</h1>
					</header>
					<p>给我信心 当我未如愿</p>
                    <p>披雨戴风问寒送我暖</p>
                    <p>亲切眼光舒我乱和倦</p>
                    <p>从无更改心照总不宣</p>
                    <p></p>
                    <p>长长路中 走到哪里</p>
                    <p>生命里有你我方找到生存来源</p>
                    <p>难行日子 不屑我对生命眷恋</p>
                    <p>因有着你 跟我一起 亲爱的你</p>
            	</div>
			</article>
		
		<!-- Feature 2 -->
			<article class="container box style1 left">
				<a class="image fit"><img src="/static/images/ten_1.jpg" alt="" /></a>
				<div class="inner">
					<header>
						<h1>三吋日光</h1>
					</header>
					<p>第三个愿望</p>
                    <p>还不想讲</p>
                    <p>你自己想一想</p>
                    <p>问微笑的月光</p>
				</div>
			</article>
		
		<!-- Portfolio -->
        <article class="container box style2">
				<header>
					<h1>酒店地址</h1>
					<p>济南槐荫区经十西路75号长运西站东临(近世购广场)<br />
					电话：(0531)87501666</p>
                    <a class="image fit"><img src="/static/images/map.jpg" alt="" /></a><a class="image fit"><img src="/static/images/hotel.jpg" alt="" /></a>
				</header>
            
        </article>
		<!-- Contact -->
			<article class="container box style3">
				<header>
					<h1>祝福</h1>
					<p>您可以通过下面给我们留言</p>
				</header>
				<form method="post">
					<div class="row half">
						<div class="6u"><input type="text" class="text" name="name" placeholder="Name" /></div>
					</div>
					<div class="row half">
						<div class="12u">
							<textarea name="message" placeholder="Message"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="12u">
							<ul class="actions">
								<li><input name="MySubmit" type="submit" value="捎句话" /></li>
							</ul>
						</div>
					</div>
				</form>
			</article>
        <article class="container box style3">
				<header>
					<h1>您还可以</h1>
				</header>
				<form method="post">
					<div class="row">
						<div class="12u">
							<ul class="actions">
                                <a href="bbsfile" class="button style1 scrolly">看看大家说什么</a>
							</ul>
						</div>
					</div>
                    </form>
                  <br>
      <form>
					<div class="row">
						<div class="12u">
							<ul class="actions">
                                <a href="photo" class="button style1 scrolly">看看更多的照片</a>
							</ul>
						</div>
					</div>
             </form>
			</article>
		
		<section id="footer">
			
			<div class="copyright">
				<ul class="menu">
					<li>烨献给大纬的新婚祝福</li><br>
					<li>Designed by: @浮夸浮夸吧</li><li>Lunya@163.com</li><li>2014.9</li><br>    
					<li>Changed to python by: @小烨工作室</li><li>vhghhd0222@126.com</li><li>2014.9</li>
		
				</ul>
			</div>
		</section>

	</body>
</html>
