<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>张烨&张莉的婚宴邀约</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="../static/css/swiper.min.css" />
		<link rel="stylesheet" href="../static/css/skel.css" />
		<link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/zzsc.css" />
    <!-- Demo styles -->
    <style>
    html, body {
        position: relative;
        height: 100%;
    }
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        height: 100%;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: url(../static/images/bluebg.gif);

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    </style>
</head>
<body>
    <div style='margin:0 auto;width:0px;height:0px;overflow:hidden;'>
  	   <img src="../static/images/55.jpg" width='700'>
     </div>
     <div align="center">
       <audio src="../static/CouldThisBeLove.mp3" autoplay="autoplay" ></audio>
     </div>
    <!-- Swiper -->
    <div class="swiper-container" id="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    ZY & ZL 情定4月8日<br /><br />
                    "与君初相识&nbsp;犹如故人归"
                  </font>
                </p>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/11.jpg">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    良辰已订，吉日待访。<br /><br />
                    天地合一，眷侣成双。<br /><br />
                    传红叶乃生情愫，<br /><br />
                    系赤绳而定祯祥。
                  </font>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/22.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    <br />
                    笙箫友之，当遇听琴文君。<br /><br />
                    才德备矣，自识顾曲周郎。<br /><br />
                    青青子衿，灼灼霓裳。<br /><br />
                    中选雀屏，定情红娘。<br /><br />
                    秋池结并蒂芙蓉，<br /><br />
                    春水泛对浴鸳鸯。<br /><br />
                  </font>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/33.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    <br />
                    王家少年之俊秀，坦腹东床。<br /><br />
                    崔氏小姐之莞然，待月西厢。<br /><br />
                    桂馥兰馨，情深意长。<br /><br />
                    百年好合，五世永昌。<br /><br />
                  </font>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/44.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    <br />
                    邻女有心，窥得宋玉颜色。<br /><br />
                    少伯多福，阅取西子红妆。<br /><br />
                    君作画眉张敞，卿为举案孟光。<br /><br />
                    鱼水交融，好迎出浴贵妃。<br /><br />
                    云雨相逢，以待入梦襄王。<br /><br />
                    今朝芝兰竞秀，他年瓜蒂满秧。<br /><br />
                  </font>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/55.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <p>
                  <font face="微软雅黑" color="#f7036f">
                    <br />
                    凭唱一曲《蝶恋花》，<br /><br />
                    愿奏三生《凤求凰》。<br /><br />
                    深情终老，携手共植枇杷树。<br /><br />
                    白首同归，化蝶再临小轩窗。<br /><br />
                    今夕何夕，见此良人。<br /><br />
                    亲卿爱卿，不负韶光。<br /><br />
                  </font>
                </p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/66.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/rings.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/JierMap.jpg">
              </div>
            </div>
            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                  <img src="../static/images/address.jpg">
              </div>
            </div>

            <div class="swiper-slide">
              <div class="swiper-zoom-container">
                <form method="post">
                  <div style="margin-bottom:20px;">
                    <font face="微软雅黑" color="#f7036f">
                      <br />
                      留下你的祝福，让我知道你爱我^o^
                    </font>
                  </div>
                  <div >
                    <div><input type="text" class="text" name="name" placeholder="Name" /></div>
                  </div>
                  <div >
                    <div>
                      <textarea name="message" placeholder="Message"></textarea>
                    </div>
                  </div>
                  <div>
                    <div>
                      <ul class="actions">
                        <li><input type="submit" value="捎句话" /></li>
                      </ul>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="../static/js/swiper.min.js"></script>
    <!-- Initialize Swiper -->
    <script>
    window.onload=function(){
            var swiper = document.getElementById("swiper");
            //var scale = window.screen.height / window.screen.width;
            //swiper.style.height = document.documentElement.clientWidth * scale + "px";
            //swiper.style.height = window.screen.height;
            //swiper.style.width = window.screen.width;
            var scale = window.screen.width / window.screen.height;
            swiper.style.width = ( document.body.clientHeight + 100 ) * scale + "px";
    }
    var swiper = new Swiper('.swiper-container', {
        direction: 'vertical',
        loop: true,
        zoom: true,
        autoplayDisableOnInteraction : true,
        pagination: '.swiper-pagination',
        paginationClickable: true,
        speed: 1000,
        autoplay: 5000
    });
    </script>
</body>
</html>
